@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');


*{
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("./background.jpg");
    background-size: cover;
    background-position: center top;
    min-height: 100 px;
    flex-direction: column;
    font-family: "Quicksand", sans-serif;
    display: flex;
}

nav {
    width: 100%;
    padding: 0px 0px;
    line-height: 20px;
    font-weight: bold;
    position: fixed;
    transition: top 0.3s;
}

.navBox {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color:rgb(17, 17, 17);
}

nav ol {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    font-size: 18px;
}

nav li {
    list-style-type: none;
    margin: 0;
    padding: 14px 16px;
    color: aqua;
    text-align: right;
    display: inline;
    float: right;
}

nav a{
    display: block;
    color: white;
    text-decoration: none;
}

.headerDisplay {
    margin: 20%;
    padding-bottom: 30%;
    align-items: center;
    text-align: center;
    color: antiquewhite;
    text-shadow: -1px 1px #000;
}

.headerDisplay h1{
    font-size: 100px;
}

.aboutSec {
    padding: 0%;
    align-items: center;
    text-align: center;
    color: antiquewhite;
    text-shadow: -1px 1px #000;
    font-size: 25px;
    padding-bottom: 40%;
}

.aboutSec h2 {
    margin-top: 10%;
    font-size: 50px;
}

.aboutSec p {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 10%;
    margin-left: 10%;
}

.aboutSec ul {
    list-style-type: none;
    margin: 0%;
    padding-left: 35%;
    padding-right: 35%;
    align-items: stretch;
    text-align: justify;
    display: flex;
    justify-content: space-evenly ;
}

.aboutSec li {
    display: inline;
}

.aboutSec a {
    text-decoration: none;
}

.contactSec {
    padding: 10%;
    align-items: center;
    text-align: center;
    color: antiquewhite;
    text-shadow: -1px 1px #000;
    font-size: 25px;
}

.contactSec ul {
    list-style-type: none;
    margin: 0%;
    padding-left: 35%;
    padding-right: 35%;
    align-items: stretch;
    text-align: justify;
    display: flex;
    justify-content: space-evenly ;
}

.contactSec li {
    display: inline;
}

.contactSec a {
    text-decoration: none;
}

.redText {
    color: red;
}
.cyanText {
    color: cyan;
}

.yellowText {
    color: yellow;
}

.orangeText {
    color:orange;
}

.greenText {
    color: limegreen;
}

.purpleText {
    color: blueviolet;
}

.blueText {
    color: blue;
}