@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("./background2.jpg"), url("carbon.jpeg");
    background-size: contain, auto;
    background-position: center top;
    background-repeat: no-repeat, repeat;
    min-height: 100 px;
    flex-direction: column;
    font-family: "Quicksand", sans-serif;
    display: flex;
    border: 5px solid white;
}

nav {
    width: 100%;
    padding: 0px 0px;
    line-height: 20px;
    font-weight: bold;
    position: fixed;
    transition: top 0.3s;
}

.navBox {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color:rgb(17, 17, 17);
    border-bottom: 5px solid white;
    border-top: 5px solid white;
}

nav ol {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    font-size: 18px;
}

nav li {
    list-style-type: none;
    margin: 0;
    padding: 14px 2%;
    color: aqua;
    text-align: right;
    display: inline;
    float: right;
}

nav a{
    display: block;
    color: white;
    text-decoration: none;
}

.headerDisplay {
    margin: 20%;
    padding-bottom: 30%;
    align-items: center;
    text-align: center;
    color: antiquewhite;
    text-shadow: -1px 1px #000;
}

.headerDisplay h1{
    font-size: 100px;
    border-bottom: 5px solid white;
    margin-bottom: 1%;
}

.aboutSec {
    padding-top: 8%;
    align-items: center;
    text-align: center;
    color: antiquewhite;
    text-shadow: -1px 1px #000;
    font-size: 25px;
    padding-bottom: 40%;
}

.aboutSec h2 {
    font-size: 50px;
    text-align: center;
    padding: 1%;
    margin: 2%;
    margin-left: 38%;
    margin-right: 38%;
    background-color: rgb(17, 17, 17);
    border-radius: 15px 50px;
    border: 5px solid white;
}

.aboutSec p {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 10%;
    margin-left: 10%;
    font-weight: bolder;
}

.aboutSec ul {
    list-style-type: none;
    margin: 0%;
    padding-left: 35%;
    padding-right: 35%;
    align-items: stretch;
    text-align: justify;
    display: flex;
    justify-content: space-evenly ;
}

.aboutSec li {
    display: inline;
}

.aboutSec a {
    text-decoration: none;
}

.projectSec {
    padding-top: 8%;
    color: antiquewhite;
    text-shadow: -1px 1px #000;
    font-size: 25px;
    padding-bottom: 0%;
}

.projectSec h1 {
    font-size: 50px;
    text-align: center;
    padding: 1%;
    margin: 2%;
    margin-left: 40%;
    margin-right: 40%;
    background-color: rgb(17, 17, 17);
    border-radius: 15px 50px;
    border: 5px solid white;
}

.projectDescBox {
    width: 38%;
    padding: 2.5%;
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(17, 17, 17);
    border-radius: 15px 50px;
    border: 5px solid white;
    display: inline-block;
}

.projectDescBoxR {
    width: 38%;
    padding: 2.5%;
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(17, 17, 17);
    border-radius: 15px 50px;
    border: 5px solid white;
    float: right;
    display: inline-block;
}

.featureProj{
    float: right;
    width: 50%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    border: 5px solid white;
}

.projIcon {
    font-size: 150px;
    float: right;
    display: inline;
    padding-top: 3%;
    padding-right: 15%;
    justify-content: space-evenly;
}

.contactSec {
    margin: 1%;
    padding: 3%;
    align-items: center;
    text-align: center;
    color: antiquewhite;
    text-shadow: -1px 1px #000;
    font-size: 25px;
}

.contactSec ul {
    list-style-type: none;
    margin: 0%;
    padding-left: 35%;
    padding-right: 35%;
    align-items: stretch;
    text-align: justify;
    display: flex;
    justify-content: space-evenly ;
}

.contactSec li {
    display: inline;
}

.contactSec a {
    text-decoration: none;
}

.linkBox {
    width: 28%;
    padding: 2.5%;
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(17, 17, 17);
    border-radius: 15px 50px;
    display: inline-block;
    border: 5px solid white;
}

.redText {
    color: red;
}
.cyanText {
    color: cyan;
}

.yellowText {
    color: yellow;
}

.orangeText {
    color:orange;
}

.greenText {
    color: limegreen;
}

.purpleText {
    color: blueviolet;
}

.blueText {
    color: blue;
}